.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #1b3ac2, #535ec7 48%, #67b838);
}

  .auth-form-container, .login-form, .register-form {
      display: flex;
      flex-direction: column;
    }
    
    @media screen and (min-width: 600px) {
        .auth-form-container {
          padding: 5rem;
          border: 1px solid white;
          border-radius: 10px;
          margin: 0.5rem;
        }
      }
    
    label {
      text-align: left;
      padding: 0.25rem 0;
    }
    
    input {
      margin: 0.5rem 0;
      padding: 1rem;
      border: none;
      border-radius: 10px;
    }
    
    button {
      border: none;
      background-color: rgb(11, 7, 15);
      padding: 10px 15px; /* Adjusted padding values for smaller buttons */
      border-radius: 5px; /* Adjusted border-radius for smaller buttons */
      cursor: pointer;
      color: #7439db;
    }
    
    
    .link-btn {
      background: none;
      color: white;
      text-decoration: underline;
    }
  
    .login-button {
      background-color: blue; 
      color: white; 
      width: 200px; /* Set the width */
    height: 50px; /* Set the height */  
    }
  
    .container {
      display: flex;
      justify-content: center;
      padding: 10px;
    }
    